* {
  margin: 0;
  padding: 0;
  font: black;
  font-family: 'Arial', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;

  .menu-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }

  .botoes-menu {
    font-size: 25px;
    transition: transform 0.25s;
  }

  .botoes-menu:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.conteudo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  justify-content: space-between;
}

.roleta-container {
  position: relative;
  height: 90vw;
  width: 90vw;
  max-width: 500px;
  max-height: 500px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;

  .botao-roleta{
    position: absolute;
    transition: transform 0.2s;
  }

  .botao-roleta:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(110%);
  }
}

.menu {
  border: 2px solid #000;
  width: 400px;
  height: 500px;
  margin: 0 20px;
  padding: 10px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
  .chance, .cor-preview {
    border: 2px solid #000;
    border-radius: 25%;
  }

  .cor-preview {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #000;
  }

  .cor-preview:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .nome-item {
    width: 70%;
    height: 20px;
    border: 2px solid #000;
    margin-right: 10px;
    font-size: 15px;
    padding-left: 5px;
  }

  .chance {
    width: 25px;
    height: 25px;
    margin-right: auto;
    font-size: 15px;
    text-align: center;
  }

  .excluir-item {
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    border-radius: 25%;
    background-color: #ff0000;
  }

  .excluir-item:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.adicionar-item {
  margin: 10px 0 0 45%;
  border: 1px solid #000;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  width: 45px;
  height: 45px;
  font-size: 40px;
  transition: transform 0.25s;
}

.adicionar-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}
