* {
  margin: 0;
  padding: 0;
  font: black;
  font-family: "Open Sans", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

input, span, button, p, img, label {
  user-select: none;
}

button, .label-button {
  transition: transform 0.25s;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

header {
  width: 100%;

  .menu-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }

  .botoes-menu {
    width: auto;
    height: auto;
    font-size: 25px;
  }
}

.escondido {
  display: none;
}

.conteudo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  justify-content: space-between;
}

.roleta-container {
  position: relative;
  height: 90vw;
  width: 90vw;
  max-width: 500px;
  max-height: 500px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;

  .botao-roleta {
    position: absolute;
    transition: transform 0.25s, filter 0.25s;
  }

  .botao-roleta:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(110%);
  }
}

.items-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .itens-roleta {
    max-height: 425px;
    overflow-y: auto;
    overflow-x: hidden;
    border: #000 solid 2px;
    padding: 10px;
  }

  .add-item-texto {
    resize: none;
    border: #000 solid 1px;
    height: 100%;
  }
}

.color-picker {
  display: none;
  justify-content: start;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  min-width: fit-content;
  height: 50%;
  background-color: #0c007a;
  z-index: 10;
}

.container-selector-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input-color {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.container-input-color {
  display: flex;

  .input-rgb {
    width: 50px;
    height: 20px;
    margin-right: 35px;
    border: solid 2px #000;
    border-radius: 12%;
    font-size: 18px;
  }

  .label-rgb {
    color: #fff;
    font-size: 18px;
    margin-right: 4px;
  }
}

.container-input-hex {
  display: none;

  .input-hex {
    width: 100px;
    height: 20px;
    border: solid 2px #000;
    border-radius: 10%;
    font-size: 18px;
  }

  .label-hex {
    color: #fff;
    font-size: 18px;
    margin-right: 4px;
  }
}

.changel-color-model {
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  transition: transform 0.25s;
}

.container-button {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 10px;
  gap: 20px;

  .button-color-picker {
    border: solid 2px;
    border-radius: 12%;
    width: 80px;
    height: 30px;
    font-size: 15px;
    background-color: #ffffff;
  }

  .button-save-color {
    background-color: #00c21a;
    border-color: #00c21a;
  }

  .button-cancel-color{
    background-color: #c70000;
    border-color: #c70000;
  }
}


.menu {
  border: 2px solid #000;
  width: 400px;
  height: 500px;
  margin: 0 20px;
  padding: 10px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .chance,
  .cor-preview {
    border: 2px solid #000;
    border-radius: 25%;
  }

  .cor-preview {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.25s;
  }

  .cor-preview:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .input-cor-preview {
    display: none;
  }

  .nome-item {
    width: 70%;
    height: 20px;
    border: 2px solid #000;
    margin-right: 10px;
    font-size: 15px;
    padding-left: 5px;
  }

  .chance {
    width: 25px;
    height: 25px;
    margin-right: auto;
    font-size: 15px;
    text-align: center;
  }

  .excluir-item {
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    border-radius: 25%;
    background-color: #ff0000;
    transition: transform 0.25s;
  }

  .excluir-item:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.container-add-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  margin: 10px 0 0 0;
  width: auto;

  .adicionar-item, .mudar-formato-add {
    width: 45px;
    height: 45px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 25%;
  }

  .mudar-formato-add {
    margin-top: 10px;
    height: 35px;
    width: 35px;
    font-size: 35px;
  }

  .espaçamento-add-item {
    width: 45px;
  }
}
