* {
  margin: 0;
  padding: 0;
  font: black;
}

html, body {
  height: 100%;
}

body {
  /* Prevent iOS rubber-band effect */
  position: fixed;
  width: 100%;

  /* Prevent browser from handling touch events */
  touch-action: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.roleta-container {
  height: 500px;
  width: 500px;
}